.welcome {
	float: left;
	width: 50%;
}

header {
	margin-top: 15px;
}

.navbar {
	margin-top: 30px;
	margin-bottom: 7px;
}
	
	ul.navbar-nav a:hover {
		background-color: #f0ad4e !important;
		transi
	}

.search {
	padding-top: 15px;
}

ul.nav-pills li:first-child {
	position: relative;
	display: block;
	padding: 10px 15px 10px 0px;
}